body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
}

.button-container {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.tricky-button {
	position: absolute;
	padding: 15px 30px;
	font-size: 18px;
	border: none;
	background-color: #3498db;
	color: white;
	cursor: pointer;
	border-radius: 8px;
	transition: transform 0.1s ease-in-out;
}

.hello-text {
	position: absolute;
	font-size: 0px;
	color: black;
	font-weight: bold;
	text-align: center;
	width: 100%;
	top: 40%;
}
